@model List<RepositorioModel>
@{
    ViewData["Title"] = TempData["Titulo"];
}

<div>
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
            <input type="text" id="filtroNome" placeholder="Filtrar por nome...">
        </div>

        <br />

        @if (Model != null && Model.Any())
        {
            foreach (RepositorioModel repositorio in Model)
            {
                <div class="repo position-relative">
                    <div class="repo-info">
                        <a asp-controller="Repositorio" asp-action="VerDetalhes" asp-route-id="@repositorio.Id">@repositorio.Nome</a> <span class="repo-visibility">@repositorio.Visibilidade.ToString()</span>
                        <p class="repo-description">@repositorio.Descricao</p>
                        <p>Usuário: @repositorio.Usuario.Nome</p>
                    </div>
                    <div class="repo-stars">
                        <p class="repo-language">@repositorio.Linguagem.ToString()</p>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Nenhum repositório encontrado.</p>
        }
    </div>
</div>
<script src="~/js/filter.js" asp-append-version="true"></script>
