@using KriaHubTest.Enums
@using System.Security.Claims
@model RepositorioDetalhesDTO
@{
    ViewData["Title"] = "Criar Repositório";
    var nomeUsuario = User.Identity.Name;
    var idUsuario = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="text-center">
    <h1 class="display-4">Criar Repositório</h1>
</div>


<form asp-controller="Repositorio" asp-action="CriarRepositorio" method="post">

    <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do repositorio" disabled>
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-group">
        <label for="descricao" class="form-label">Descrição</label>
        <input type="text" asp-for="Descricao" class="form-control full-width-input" placeholder="Descrição" disabled>
        @Html.ValidationMessageFor(x => x.Descricao)
    </div>

    <div class="form-group mt-3 mb-3">
        <label for="linguagem" class="form-label">Linguagem</label>
        <select asp-for="Linguagem" asp-items="Enum.GetNames(typeof(LinguagemEnum)).Select(name => new SelectListItem { Text = name, Value = name })" disabled></select>
        @Html.ValidationMessageFor(x => x.Linguagem)
    </div>

    <div class="form-group mt-3 mb-3">
        <label for="visibilidade" class="form-label">Visibilidade</label>
        <select asp-for="Visibilidade" asp-items="Enum.GetNames(typeof(VisibilidadeEnum)).Select(name => new SelectListItem { Text = name, Value = name })" disabled></select>
        @Html.ValidationMessageFor(x => x.Visibilidade)
    </div>

    <div class="form-group">
        <label for="data" class="form-label">Data Atualização</label>
        <input type="date" asp-for="DataAtualizacao" class="form-control" placeholder="Data Atualização" disabled>
        @Html.ValidationMessageFor(x => x.Linguagem)
    </div>

    <div class="form-group">
        <label for="dono" class="form-label">Dono Repositorio</label>
        <input type="text" class="form-control" value="@nomeUsuario" disabled>
    </div>

    <input type="hidden" asp-for="UsuarioId" value="@idUsuario">

    <br />

    @if (Model.Favorito)
    {
        <a class="btn btn-warning" asp-controller="Repositorio" asp-action="Desfavoritar" asp-route-id="@Model.Id" role="button">Desfavoritar</a>
    }
    else
    {
        <a class="btn btn-success" asp-controller="Repositorio" asp-action="Favoritar" asp-route-id="@Model.Id" role="button">Favoritar</a>
    }

    <a class="btn btn-secondary btn-block" asp-controller="Home" asp-action="Index" role="button">Inicio</a>

</form>
